<div class="col-sm-4">
	<div class="thumbnail">
		<div class="cover">
			<img src="{{ asset('bundles/s4smithevitrine/' ~ item.pathImage ) }}" alt="{{ item.category.name }}" height="255" width="255" />
			<h4 class="labelThumb">
				<span class="label label-primary">{{ item.price|number_format(2, ',', ' ') }} €</span><!--
				--><div class="addCart">
					<a class="btn btn-primary btn-sm" href="{{ path('s4smithe_vitrine_addArticlePanier', {articleId: item.id}) }}" title="Ajouter au panier">
						<span class="fa fa-cart-arrow-down"></span>
					</a>
				</div>
			</h4>
		</div><!--
		--><div class="caption">
			<h3>{{ item.name }}</h3>
			<h5><a href="{{ path('s4smithe_vitrine_articlesParCategorie', {catId: item.category.id}) }}">{{ item.category.name }}</a></h5>
			<p>{{ item.description|slice(0, 150) }} ...</p>
		</div>
	</div>
</div>
