{#

	  Fichier : /Client/login.html.twig
	  Auteur: SMITH Emmanuel
	  Création: 08/03/2016
	  Modification: 01/04/16

	  Vue pour la connexion d'un utilisateur

#}

{% set namePage = "Authentification" %}
{% set typePage = namePage %}
{% extends "s4smitheVitrineBundle::layout.html.twig" %}

{% block linkFollowing %}
	<li class="active">{{ namePage }}</li>
{% endblock %}

{% block content %}

	<div class="col-xs-12" >
		{% for flashMessage in app.session.flashbag.get('message') %}
			{% include "s4smitheVitrineBundle:Default:flashMessage.html.twig" %}
		{% endfor %}

		{% form_theme form 'bootstrap_3_layout.html.twig' %}
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<a href="{{ path('client_register') }}" title="S'inscrire" class="btn btn-default" >S'inscrire</a >
		<button class="btn btn-primary" type="submit" >Connexion</button >
		{{ form_end(form) }}
	</div>
	
{% endblock %}
