{#

	  Fichier : /Default/footer.html.twig
	  Auteur: SMITH Emmanuel
	  Création: 15/03/2016
	  Modification: 01/04/16

	  Vue pied de page pour TOUTES les pages de SfShop

#}

{% block footer %}
	<footer>
		<!--Footer Content-->
		<div class="container">
			<div class="row">
				<!--First column-->
				<div class="col-md-3 collumn">
					<h4>GET STARTED</h4>
					<p>
						Register for free and start to create amazing things.<br/>
						<a href="http://mdbootstrap.com/material-design-for-bootstrap/" target="_blank" class="btn btn-danger"><i class="fa fa-download right"></i>Get started</a>
					</p>
				</div>
				<!--/.First column-->

				<!--Second column-->
				<div class="col-md-3 collumn">
					<h4>Sitemap</h4>
					<ul>
						<li><a href="{{ path('s4smithe_vitrine_homepage') }}">Accueil</a></li>
						<li><a href="{{ path('s4smithe_vitrine_mentions') }}">Mentions</a></li>
						<li><a href="{{ path('s4smithe_vitrine_catalogue') }}">Catalogue</a></li>
					</ul>
				</div>
				<!--/.Second column-->

				<!--Third column-->
				<div class="col-md-3 collumn">
					<h4>Catégories</h4>
					<ul>
						{{ render( controller('s4smitheVitrineBundle:Category:listeCategorieFooter') ) }}
					</ul>
				</div>
				<!--/.Third column-->
				
				<!--Third column-->
				<div class="col-md-3 collumn">
					<h4>Marques populaire</h4>
					<ul>
						{{ render( controller('s4smitheVitrineBundle:Marque:listeMarqueFooter') ) }}
					</ul>
				</div>
				<!--/.Third column-->
			</div>
		</div>
		<!--/.Footer Content-->

		<!--Coprytights-->
		<div class="container text-center copyright">
			&copy; 2016 <a href="{{ path('s4smithe_vitrine_homepage') }}" > {{ sfNameShop }} </a >
		</div>
		<!--/.Coprytights-->
	</footer>
{% endblock %}
